<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KAITIRO by cks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if user}}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Modulos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/profile">Perfil</a></li>
            <li><a class="dropdown-item" href="/kaitiro/general">General</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>

        <li class="nav-item">
          <a href="/profile" class="nav-link">Perfil</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Desconectarse</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link">Ingresar</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Registrarse</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>