<div class="card border-5 border-Warning text-center" style="background-color: rgb(245, 191, 75);">
    <div class="card-body">
        <h1 class="card-tittle text-uppercase font-weight-bold"><strong>
            {{dispositivo}}
        </strong></h1>
         <p class="m-2">
            <small class="text-muted">Telar Offline</small>
        </p>
        <p>Offline desde {{timeago tiempo}}</p>
        <a class="btn btn-warning" disabled>Contacte a Soporte</a>
    </div>
</div>