<div class="card border-5 border-danger text-center" style="background-color: rgb(250, 134, 134);">
    <div class="card-body">
        <h1 class="card-tittle text-uppercase font-weight-bold"><strong>
            {{dispositivo}}
        </strong></h1>
         <p class="m-2">
            <small class="text-muted">Telar Detenido</small>
        </p>
        <p>Detenido {{timeago ua}}</p>
        <a href="./detalle/{{dispositivo}}" class="btn btn-danger">Detalle</a>
    </div>
</div>

