<div class="card border-5 border-success text-center" style="background-color: rgb(133, 219, 169);">
    <div class="card-body">
        <h1 class="card-tittle text-uppercase font-weight-bold"><strong>
            {{dispositivo}}
        </strong></h1>
         <p class="m-2">
            <small class="text-muted">Telar Trabajando</small>
        </p>
        <p>Trabajando {{timeago ua}}</p>
        <a href="./detalle/{{dispositivo}}" class="btn btn-success">Detalle</a>
    </div>
</div>